

html {
  font-family: montserrat;
  background-color: #ffdcaa;

}

#kklogomain {
  text-align: center;
}

#mjpeg_dest {
  border-radius: 40px;
  height: 480px;
  width: 680px;
  position: absolute;
  left: 25%
}

.button {
  color: #e89e35;
}

#elsiecam-header {
  color: #c07915;
  text-align: center;
}


/*Color of image text: #ffbb5b*/
