

html body .colorme {
  font-family: montserrat;
  background-color: #ffdcaa;
}

#kklogomain {
  position: absolute;
  left: 40%
}

#mjpeg_dest {
  border-radius: 40px;
  height: 480px;
  width: 680px;
  position: absolute;
  left: 25%

}

.button1 {
  color: #e89e35;
  background-color:#242086;
  border-radius: 10px;
  height: 30px;
  width: auto;
}

.button2 {
  color: #e89e35;
  background-color: #7673ca;
  border-radius: 10px;
  height: 30px;
  width: auto;

}

.button3 {
  color: #e89e35;
  background-color: #2496df;
  border-radius: 10px;
  height: 30px;
  width: auto;

}


#elsiecam-header {
  color: #c07915;
  text-align: center;
}

btn-lg {
  background-color: #242086;
  color: #a4a1e2
}


/*Color of image text: #ffbb5b*/
