

html body .colorme {
  font-family: montserrat;
  background-color: #ffdcaa;
}

#kklogomain {
  position: absolute;
  left: 40%
}

#mjpeg_dest {
  border-radius: 40px;
  height: 480px;
  width: 680px;
  position: absolute;
  left: 25%
}

.button {
  color: #e89e35;
}

#elsiecam-header {
  color: #c07915;
  text-align: center;
}

btn-lg {
  background-color: #242086;
  color: #a4a1e2
}


/*Color of image text: #ffbb5b*/
