<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>KnickKnack</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <!-- the onload command tells the page to reload constantly. This pulls the most recent image from the Pi's hosting and replaces the old jpg with the new one. This gives the impression of motion picture. -->
  <body ng-controller="mainController as mainCtrl" class="colorme" onload="setTimeout('init(0,25,1);', 1000);">

    <!-- Here's the navbar: -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
           <img src="/images/kksmall.png" height="50"  alt=""/>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li><a href="/gallery">Image gallery</a></li>
            <li><a href="https://slides.com/allenfordham/knickknack">About the KnickKnack</a></li>
            <li><a href="/donate">Donate to an animal in need</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://allenfordham.com">My website</a></li>
            <li><a href="mailto:allen.s.fordham@gmail.com">Contact Me</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

    <!-- Live feed window -->
    <div class="feed">
      <img id="mjpeg_dest" onclick="toggle_fullscreen(this);" src="http://10.2.10.195/cam_pic.php?time=1481044422503&amp;pDelay=40000" alt="./images/Elsiestop.jpg"/>
    </div>

    <div class="">
      <img class="kklogomain" src="./images/kklarge.png" height="135px" width="210px" alt="">
      <h1 id="elsiecam-header">Give the dog <br> a bone!</h1>

      <!-- KnickKnack control buttons -->
      <div display="inline-block">
        <button type="button" ng-click="mainCtrl.callDog()" class="button1 round green" name="callDog">Call Elsie!</button>
        <p></p>
        <br>
        <button type="button" class="button1 round red" ng-click="mainCtrl.dispense()" name="dispense">Treat</button>
        <br>
        <p>Reward her with a delicious snack!</p>
      </div>


      <!-- sample test buttons: -->
      <!-- <ul>
        <li><button><a href="#" ng-click="mainCtrl.callDog()" class="round green">Call<span class="round">Click here to summon Elsie</span></a></button></li>
        <li><a href="#" ng-click="mainCtrl.dispense()" class="round red">Give<span class="round">Reward her with a delicious snack! </span></a></li>
      </ul> -->

    </div>

    </div>
  </body>


    <!-- scripts -->
    <script type="text/javascript" src="./script.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>


    <script type="text/javascript" src="src/js/app.js"></script>
    <script type="text/javascript" src="src/js/config.js"></script>
    <script type="text/javascript" src="src/js/components/main/main.controller.js"></script>


</html>
